.toDo{
  width: 25%;
}
#tasks{
  width: auto;
}
#submit-btn{
  width: 3rem;
  height: 2rem;
  text-align: center;
  line-height: 1rem;
}
#remove-btn{
  width: 6rem;
  height: 2rem;
  text-align: center;
  line-height: 1rem;
}